@import "../variables";

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, $card-width);
  grid-gap: $card-grid-gap;
  justify-content: space-between;
  @media (max-width: 1028px) {
    & {
      justify-content: space-around;
    }
  }
}
@import "./card.scss";
