@import "../variables";
@import "../mixins";
.page {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  height: 100%;
  width: 70%;
  min-width: $card-width;
  overflow: hidden;
  .page__header {
    flex: 0;
  }
  .page__main {
    flex: 1;
    margin-top: 24px;
  }
}
@import "./header.scss";
@import "./card-grid.scss";
@import "./card.scss";
@import "./about-dialog.scss";
